.content {
  margin-left: 160px;
  margin-right: 80px;
  display: flex;
  position: relative;
  height: calc(100vh - 80px);

  // background-color: white;
  .content__left {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .content__hero {
      p {
        font-size: 5vw;
        font-weight: 700;
        color: #403d3d;
      }
    }
    .content__describe {
      margin-top: 24px;
      span {
        font-size: 1.2vw;
        color: #707070;
      }
    }
    .content__contact {
      margin-top: 24px;
      padding: 8px 32px;
      background: #9798b4;
      color: white;
      border-radius: 265px;
      font-size: 1.3vw;
      font-weight: 500;
    }
  }
  .content__right {
    flex: 0.5;
    img {
      position: absolute;
      width: 60vh;
      right: 6vw;
      bottom: 0;
      z-index: 10;
      background-color: transparent;
    }
    .content__right__circle_container {
      // z-index: -10;
      position: absolute;
      height: 100%;
      width: 50%;
      .content__right__circle {
        width: 100%;
        height: 100%;
        position: absolute;
        .content__right__circle1 {
          height: 40px;
          width: 40px;
          background-color: #abb497;
          border-radius: 50%;
          position: absolute;
          top: 12vh;
          right: 26vw;
        }
        .content__right__circle2 {
          height: 60px;
          width: 60px;
          background-color: #9798b4;
          position: absolute;
          border-radius: 50%;
          top: 32vh;
          right: 30vw;
        }
        .content__right__circle3 {
          height: 20vh;
          width: 20vh;
          background: #abb497;
          position: absolute;
          border-radius: 50%;
          right: -0.5vw;
          top: 40px;
        }
        .content__right__circle4 {
          height: 50vh;
          width: 50vh;
          background: #9798b4;
          position: absolute;
          border-radius: 50%;
          right: -0.5vw;
          bottom: 0px;
        }
      }
    }
  }
}
