.cursor {
  width: 65px;
  height: 65px;
  border: 0px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 300ms ease;
  transition-property: opacity;
  transition-property: opacity, background-color, transform, mix-blend-mode;
  //   cursor: none;
}
.cursor--hidden {
  opacity: 0;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: white;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(2);
  background-color: white;
  mix-blend-mode: difference;
  transition-property: opacity;
  transition-property: opacity, background-color, transform, mix-blend-mode;
  z-index: 999;
}
