.header {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  margin-left: 80px;
  .header__logo {
    font-size: 30px;
    font-weight: 500;
    color: #9798b4;
    span {
      font-size: 30px;
      color: #c0947b;
    }
  }
  .header__menu {
    ul {
      list-style: none;
      padding-inline-start: 0px;
      li {
        display: inline;
        margin-right: 70px;
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 20px;
          color: #403d3d;
          span {
            font-size: 30px;
            color: #c0947b;
          }
        }
      }
    }
  }
  .header__contact {
    padding: 8px 32px;
    background: #9798b4;
    color: white;
    border-radius: 18px;
  }
}
