* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: white;
  cursor: none;
}

.app {
  height: 100vh;
  width: 100vw;
  // cursor: none;
  .animate {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #9798b4;
    z-index: 999;
  }
}
